@font-face {
  font-family: handwritten;
  src: url(font/NanumPenScript-Regular.ttf);
}
:root{
  font-family: handwritten, sans-serif;
}
html {
  scroll-behavior: smooth;
}

body {
  background-image: url("background.jpg");
  display: flex;
  align-items: center;
  height: 95vh;
}

#content {
  margin: auto;
  display: flex;
}

.lockedDice {
  color: rgb(219, 42, 219);
}

table td {
  text-align: center;
}

table td:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.combo {
  color: LightSteelBlue;
}

.lockedCombo {
  color: brown;
  font-size: 1.25rem;
  font-weight: bold;
}

table td:nth-of-type(1) {
  text-align: right;
  padding-right: 10px;
}

table td:nth-of-type(2) {
  font-size: 0.75rem;
  color: gray;
}

#scoresheet {
  line-height: 1rem;
  box-sizing: border-box;
  background-image: url("block.png");
  background-size: 100% 100%;
  height: 490px;
  width: 350px;
  padding-top: 85px;
  padding-left: 25px;
  margin-left: 50px;
}

#dicesafearea {
  position: relative;
  padding: 15px;
  border-radius: 5px;
  background-image: url(backgroundlightgreen.jpg);
  background-size: cover;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  border: 3px solid #71c966;
  outline: 5px solid #572d00;
  height: 25px;
  width: 200px;
  margin-bottom: 25px;
}

#dicearea {
  position: relative;
  padding: 15px;
  border-radius: 5px;
  background-image: url(backgroundSmall.jpg);
  background-size: cover;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  border: 3px solid #148a43;
  outline: 5px solid #572d00;
  height: 200px;
  width: 200px;
}

.dice {
  position: absolute;
  height: 40px;
  width: 40px;
  background-image: url(/wuerfel.png);
  background-size: 100% 100%;
  border-radius: 2px;
  filter: drop-shadow(0 0 5px #222);
}

.dice[data-value="1"] {
  background-image: url(/wuerfel1.png);
}

.dice[data-value="2"] {
  background-image: url(/wuerfel2.png);
}

.dice[data-value="3"] {
  background-image: url(/wuerfel3.png);
}

.dice[data-value="4"] {
  background-image: url(/wuerfel4.png);
}

.dice[data-value="5"] {
  background-image: url(/wuerfel5.png);
}

.dice[data-value="6"] {
  background-image: url(/wuerfel6.png);
}

.dice.lockedDice {
  outline: 3px solid yellow;
}

.golden-button {
  touch-action: manipulation;
  display: inline-block;
  width: 100%;
  outline: none;
  font-family: inherit;
  font-size: 1em;
  box-sizing: border-box;
  border: none;
  border-radius: 0.3em;
  height: 2.75em;
  line-height: 2.5em;
  text-transform: uppercase;
  padding: 0 1em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
    inset 0 -2px 5px 1px rgba(139, 66, 8, 1),
    inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  background-image: linear-gradient(160deg,
      #a54e07,
      #b47e11,
      #fef1a2,
      #bc881b,
      #a54e07);
  border: 1px solid #a55d07;
  color: rgb(120, 50, 5);
  text-shadow: 0 2px 2px rgba(250, 227, 133, 1);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-size: 100% 100%;
  background-position: center;
}

.golden-button:focus,
.golden-button:hover {
  background-size: 150% 150%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23),
    inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
  border: 1px solid rgba(165, 93, 7, 0.6);
  color: rgba(120, 50, 5, 0.8);
}

.golden-button:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(110, 80, 20, 0.4),
    inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250, 227, 133, 1);
}